[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
aws-requests-auth = "*"
flask-babel = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
bump2version = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
