[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.*"
aws-requests-auth = "*"
flask-babel = "*"
python-dotenv = "*"
markupsafe = "==2.0.1"

[dev-packages]
pylint = "*"
black = "==21.10b0"
pytest = "*"
bump2version = "*"
isort = "*"
flake8 = "*"
pycodestyle = "*"
mypy = "*"
boto3 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
