[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.*"
aws-requests-auth = "*"
flask-babel = "*"
python-dotenv = "*"
markupsafe = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
bump2version = "*"
isort = "*"
flake8 = "*"
pycodestyle = "*"
mypy = "*"
boto3 = "*"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
