{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <p class="lead">
            <img src="https://i.redd.it/qmma8opfglr81.png" style="width: 100%">
        </p>
        <p class="lead">
            <p>Ukraine is fighting for freedom and you can help. You can save lives, no matter where in the world you are.</p>
            <p>Please consider donating
                to organizations in Ukraine that work directly with Ukraine's defenders and with distribution of humanitarian aid.</p>
            <p>Thank you and see you in Ukraine after our victory!</p>
            <ul>
                <li>All operative and verified information about the war in Ukraine <a href="https://t.me/ukrainenowenglish">https://t.me/ukrainenowenglish</a></li>
                <li>Support the Ukrainian army directly through the National Bank of Ukraine <a href="https://bank.gov.ua/en/about/support-the-armed-forces">https://bank.gov.ua/en/about/support-the-armed-forces</a></li>
                <li>Ukrainian Military Support Fund <a href="https://www.comebackalive.in.ua/donate">https://www.comebackalive.in.ua/donate</a></li>
                <li>Help Ohmatdyt Children's Hospital <a href="https://cutt.ly/ohmatdyt_help">https://cutt.ly/ohmatdyt_help</a></li>
                <li>How to send humanitarian aid<a href="https://ukraine-helpers.com/#human">https://ukraine-helpers.com/#human</a></li>
                <li>Join the international volunteer troops legion <a href="https://fightforua.org/">https://fightforua.org/</a></li>
            </ul>
        </p>

    </div>
{% endblock %}