{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">{{ _("An unexpected error has occurred") }}</h1>
            <p class="lead">{{ _("The administrator has been notified. Sorry for the inconvenience!") }}</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.index') }}" role="button"><span class="glyphicon glyphicon-home"></span>{{ _("Back") }}</a>
        </div>
    </div>
{% endblock %}