{% extends "base.html" %}
{% block content %}
    <h2>Murals:</h2>
    {% for mural in murals %}
    <div>
        <p>
            Mural {{ mural.id }} located at {{ mural.geo_position.latitude }}, {{ mural.geo_position.longitude }} by {{ mural.artist_name_en }}
            <a href="{{ url_for('main.mural', mural_id=mural.id, artist_name_en=mural.artist_name_en) }}">more</a>
        </p>
    </div>
    {% endfor %}
    {% if next_token %}
        <a href="{{ url_for('main.murals', next_token=next_token) }}">See more...</a>
    {% endif %}
{% endblock %}