{% extends "base.html" %}

{% block meta %}
    {{ super() }}
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:type" content="place" />
    <meta property="og:title" content="Mural" />
    {% if mural.description.get(get_locale()).description %}
        <meta property="og:description" content="{{ mural.description.get(get_locale()).description }}" />
    {% endif %}
    <meta property="og:image" content="{{ mural.thumbnail }}" />
    <meta property="place:location:latitude"  content="{{ mural.geo_position.latitude }}" />
    <meta property="place:location:longitude" content="{{ mural.geo_position.longitude }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kyivmural" />
    <meta name="twitter:title" content="Kyivmural" />
    <meta name="twitter:description" content="{{ mural.description.get(get_locale()).address }}" />
    <meta name="twitter:image" content="{{ mural.thumbnail }}" />
    <meta name="twitter:domain" content="kyivmural.com" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        function initMap() {
            const position = [{{ mural.geo_position.latitude }}, {{ mural.geo_position.longitude }}];
            const map = L.map("mural-location-map").setView(position, 15);

            // Add OpenStreetMap tiles
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Add a marker for the mural location
            L.marker(position).addTo(map);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-8 mb-4">
                {% for photo in mural.photos %}
                <img src="{{ photo.uri }}" class="img-fluid">
                {% if photo.author_url %}
                <p>
                    <small>
                        {{ _("Photo by") + " " }} <a href="{{ photo.author_url }}">{{ photo.author_name if photo.author_name else photo.author_url }}</a>
                    </small>
                </p>
                {% elif photo.author_name %}
                <p>
                    <small>{{ _("Photo by") + " " }} {{ photo.author_name }}</small>
                </p>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}
                {% endfor%}
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <div class="card-header h6">
                        {{ _("Location") }}
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>{{ mural.description.get(get_locale()).address }}</p>
                            <p>
                                <small>
                                    {{ mural.geo_position.latitude }}, {{ mural.geo_position.longitude }}
                                </small>
                            </p>
                            <p>
                                <div id="mural-location-map" style="width: 100%; height: 300px"></div>
                            </p>
                        </div>
                    </div>
                </div>

                {% if mural.artist_name_en != 'unknown' %}
                <div class="card shadow mt-4">
                    <div class="card-header h6">
                        {{ _("Artist") }}
                    </div>
                    <div class="card-body">
                        <div class="card-text row justify-content-center">
                            <a class="btn btn-outline-primary" href="{{ url_for('main.artist', artist_name_en=mural.artist_name_en) }}">{{ mural.artist_name_en }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", initMap);
    </script>
{% endblock %}